<!doctype html>
<html lang="en" ng-app="TTRApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta name="description" content="Calculator 1">
    <link rel="icon" href="images/favicon.ico">
    <title>Borrowing Power Calculator</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/fonts/font-awesome.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="css/angularPrint.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body print-section ng-cloak>

    <div class="otrp-calculator container-fluid " ng-controller="BPCController">
      <h1>{{memberStatus}}</h1>
        <div class=" row title ">
            <div class="col-xs-8 col-sm-9 col-lg-9">
                <h1>Borrowing Power Calculator</h1>
            </div>
            <div print-hide class=" button-wrapper col-xs-4 col-sm-3 col-md-3">
              <button type="button" title="print" class="new-btn btn-prnt print-doc"></button>
              <button type="button" class="new-btn btn-sav " id="download" title="Save as PDF" role="button" aria-controls="email-overlay"></button>
              <button type="button" class="new-btn btn-info " ng-click="calculatorInfoModal()" title="Information"></button>
            </div>
        </div>
        <div class="row content">
            <div class="col-xs-12 col-sm-12 col-lg-12">

                <div class="row input-div">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                      <div class="row title-div">
                          <span class="number-wrapper">01</span>
                          <span class="title-wrapper">Personal Details</span>
                          <div class="otrp-clear"></div>
                      </div>
                      <form name="forms.BPCForm" class="ttr-form" novalidate ng-submit="calculateFinal(forms.BPCForm.$valid)">
                      <div name="ttrForm" class="form-1" ng-class="{menuDrop: isMenuDrop1}">
                            <div class="row first-row-mobile">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="first-name">First Name *</label>
                                        <input type="text" class="form-control" ng-model="personalDetails.firstName" name="firstName" id="first-name" ng-pattern="/^[a-zA-Z\s]*$/" onClick="this.select();" required>
                                        <p class="err-msg" ng-show="!forms.BPCForm.firstName.$pristine && forms.BPCForm.firstName.$invalid">Please provide a valid first name.</p>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="last-name">Last Name *</label>
                                        <input type="text" name="lastName" ng-model="personalDetails.lastName" class="form-control" id="last-name" ng-pattern="/^[a-zA-Z\s]*$/" onClick="this.select();" required>
                                        <p class="err-msg" ng-show="(!forms.BPCForm.lastName.$pristine && forms.BPCForm.lastName.$invalid)"> Please provide a valid last name.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="email">Email Address *</label>
                                        <input type="email" name="email" ng-model="personalDetails.email" class="form-control" id="email" onClick="this.select();" required>
                                        <p class="err-msg" ng-show="(!forms.BPCForm.email.$pristine && forms.BPCForm.email.$invalid)">Enter a valid email address</p>
                                    </div>
                                </div>
                                <div class="col-xs-6 second-row-mobile">
                                    <div class="form-group">
                                        <label for="mobile-number">Mobile Number *</label>
                                        <input type="number" name="mobile" ng-model="personalDetails.mobile" class="form-control mob-input" id="mobile-number" required onClick="this.select();" ng-pattern="/^(04)\d{8}$/g">
                                        <p class="err-msg" ng-show="(!forms.BPCForm.mobile.$pristine && forms.BPCForm.mobile.$invalid)">Enter a valid mobile number</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 ">
                                  <div class="form-group">
                                      <label for="postal-code">Postal Code</label>
                                      <input type="number" name="postalCode" ng-model="personalDetails.postalCode" class="form-control postal-code" id="postal-code" ng-minlength="4" ng-maxlength="4" onClick="this.select();">
                                        <p class="err-msg" ng-show="!forms.BPCForm.postalCode.$pristine &&forms.BPCForm.postalCode.$invalid">Enter a valid 4-Digit postal code</p>
                                  </div>
                                </div>
                                <div class="col-xs-4  form-heading">
                                    Date Of Birth
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" name="dob" id="dobText" onclick="this.select();" class="standard-input form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty ng-valid-date ng-valid-required" show-button-bar="false" uib-datepicker-popup="d!/M!/yyyy" ng-model="dob" is-open="popup1.opened" datepicker-options="dateOptions" required="" close-text="Close" ng-blur="ageChange()">
                                                    <div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-not-empty ng-valid"/>
                                                    </div>
                                                    <span class="input-group-addon" ng-click="open1()">
                                                          <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2  form-heading">
                                    Age
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="number" onclick="this.select();" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="ageInput" name="ageInput" ng-model="age" disabled="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  <div class="row">
                    <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="gender">
                                      <span>Gender of Borrower 1</span>
                                      <span>
                                        <button class="option-l-btn btn" ng-click="getGenderOfMember1(false)" ng-disabled="!genderMmbr1">Male</button>
                                        <button class="option-r-btn btn" ng-click="getGenderOfMember1(true)" ng-disabled="genderMmbr1" disabled="disabled">Female</button>
                                      </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="status">Are you single or couple?</label>
                                    <button class="option-l-btn btn" ng-click="marriedStatus(false)"  ng-disabled="!marriedStatusOption">Single</button>
                                    <button class="option-r-btn btn" ng-click="marriedStatus(true)"  ng-disabled="marriedStatusOption" >Couple</button>
                                </div>
                            </div>
                  </div>

                  <div class="row " ng-show="marriedStatusOption">
                    <div class="col-xs-6 marginTop20">
                                <div class="form-group">
                                    <label for="gender">
                                      <span>Gender of Borrower 2</span>
                                      <span>
                                        <button class="option-l-btn btn" ng-click="getGenderOfMember2(false)" ng-disabled="!genderMmbr2">Male</button>
                                        <button class="option-r-btn btn" ng-click="getGenderOfMember2(true)" ng-disabled="genderMmbr2" disabled="disabled">Female</button>
                                      </span>
                                    </label>
                                </div>
                              </div>
                    <div class="col-xs-6">
                        <div class="form-group margin-btn0">
                            <label for="age">Current age of Borrower 2</label>
                            <div class="row ">
                                <div class="col-xs-12 col-sm-12 form-heading">
                                    <div class="row padding-btn0">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="input2" name="input2" ng-model="member2Age">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <div id="slider2" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="row padngBtn25" >
                      <div class="col-xs-6">
                                  <div class="form-group">
                                      <label for="dependents">Number of dependents</label>
                                      <select ng-model="NumberOfDependents" class="mySelect">
                                          <option>1</option>
                                          <option>2</option>
                                          <option>3</option>
                                          <option>4</option>
                                          <option>5</option>
                                      </select>
                                  </div>
                              </div>
                  </div>
                        <div class="row title-div">
                            <span class="number-wrapper">02</span>
                            <span class="title-wrapper">Loan Details</span>
                            <div class="otrp-clear"></div>
                        </div>
                            <div class="row ">
                              <div class="col-xs-6">
                                  <div class="form-group">
                                      <label for="loan-year">Loan term (years)</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">
                                                          <!-- <label for="ageInput">Your Age</label> -->
                                                          <input type="text" onClick="this.select();" class="form-control" id="input19" name="input19" ng-model="loan_term">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                      <!-- <label></label> -->
                                                      <div id="slider19" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                                <div class="col-xs-6">
                                  <div class="form-group">
                                      <label for="estimated-interest">Estimated interest rate</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">
                                                          <input type="text" onClick="this.select();" class="form-control" id="input3" name="input3" ng-model="EstimatedInterestRate">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">

                                                      <div id="slider3" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <div class="row ">

                              <div class="col-xs-6">
                                  <div class="form-group">
                                      <label for="Inflation">Inflation</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">
                                                          <input type="text" onClick="this.select();" class="form-control" id="input4" name="input4" ng-model="Inflation">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                      <div id="slider4" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>

                            <div class="row title-div">
                                <span class="number-wrapper">03</span>
                                <span class="title-wrapper">Your Income Details</span>
                                <div class="otrp-clear"></div>
                            </div>

                            <div class="row ">
                            <div class="col-xs-6">
                                  <div class="form-group">
                                      <label for="Salary">Salary</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">
                                                          <input type="text" onClick="this.select();" class="form-control" id="input5" name="input5" ng-model="SalaryExcludeTaxAndSuperPerYearMember1">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                      <div id="slider5" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="last-name">Payment Frequency</label>

                                        <div class="row ">


                                            <div class="col-xs-12 col-sm-12 form-heading">

                                                <div class="row">
                                                  <div class="innerSelectBox">
                                                    <select class="selectpicker spPaymentFrequency">
                                                        <option ng-repeat="x in listOb" value="{{x.id}}">{{x.name}}</option>
                                                    </select>
                                                  </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-6">
                                    <div class="row " ng-class="{optionDrop: (alterOption)}">
                                        <div class="col-xs-12 col-sm-12 form-heading">
                                            <Strong class="margin-btn5">{{paymentFrequencyText}}</Strong>
                                            <div class="row">
                                                <div class="col-xs-5 col-sm-5">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="asset1TotalInput" name="asset1TotalInput" ng-model="netPaymentPerPeriod" disabled>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                  </div>
                              </div>
                              <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="Rental-income">Rental income</label>
                                        <div class="row ">
                                            <div class="col-xs-12 col-sm-12 form-heading">
                                                <div class="row">
                                                    <div class="col-xs-4 col-sm-4">
                                                        <div class="form-group">
                                                            <input type="text" onClick="this.select();" class="form-control" id="input8" name="input8" ng-model="RentalIncomeInvestmentPropertyPerWeek">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                        <div id="slider8" style="margin-top:8px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-xs-6">
                                  <div class="form-group">
                                      <label for="investment-income">Investment income from shares or fixed interest</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">
                                                          <input type="text" onClick="this.select();" class="form-control" id="input7" name="input7" ng-model="InvestmentIncomePerYear">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                      <div id="slider7" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-xs-6">
                                  <div class="form-group">
                                      <label for="other-income">Other income from Trusts, Centrelink, Superannuation pensions</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">
                                                          <input type="text" onClick="this.select();" class="form-control" id="input9" name="input9" ng-model="OtherIncomePerYear">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                      <div id="slider9" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>

                            <div class="row linetop" ng-show="marriedStatusOption">
                              <div class="col-xs-6">
                                  <div class="form-group">
                                      <label for="salary">Salary</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">
                                                          <input type="text" onClick="this.select();" class="form-control" id="input6" name="input6" ng-model="SalaryExcludeTaxAndSuperPerYearMember2">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                      <div id="slider6" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                                <div class="col-xs-6">
                                  <div class="form-group">
                                      <label for="rental-income">Rental income</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">
                                                          <input type="text" onClick="this.select();" class="form-control" id="input21" name="input21" ng-model="spauseRent">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                      <div id="slider21" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                  <div class="form-group">
                                      <label for="investment-income">Investment income from shares or fixed interest</label>

                                      <div class="row ">


                                          <div class="col-xs-12 col-sm-12 form-heading">

                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">

                                                          <input type="text" onClick="this.select();" class="form-control" id="input22" name="input22" ng-model="spauseInvestments">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">

                                                      <div id="slider22" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                                <div class="col-xs-6">
                                  <div class="form-group">
                                      <label for="other-income">Other income from Trusts, Centrelink, Superannuation pensions</label>

                                      <div class="row ">


                                          <div class="col-xs-12 col-sm-12 form-heading">

                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">

                                                          <input type="text" onClick="this.select();" class="form-control" id="input23" name="input23" ng-model="spauseSuper">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">

                                                      <div id="slider23" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>




                            <div class="row title-div">
                                <span class="number-wrapper">04</span>
                                <span class="title-wrapper">Your Current Loan Commitments</span>
                                <div class="otrp-clear"></div>
                            </div>
                            <div class="row ">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="existing-loan">Do you have existing mortgages that we need to pay out?</label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                  <button class="option-l-btn btn" ng-click="haveYouExistingLoan(true)"  ng-disabled="existinLoanOption">Yes</button>
                                  <button class="option-r-btn btn" ng-click="haveYouExistingLoan(false)"  ng-disabled="!existinLoanOption">No</button>
                                </div>
                            </div>

                            <div class="row " ng-show="existinLoanOption">
                              <div class="col-xs-6">
                                  <div class="form-group">
                                      <label for="loan-balance">What is your current mortgage balance</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">

                                                          <input type="text" onClick="this.select();" class="form-control" id="input10" name="input10" ng-model="CurrentLoanBalance">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">

                                                      <div id="slider10" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-xs-6">
                                  <div class="form-group">
                                      <label for="interest-rate">What is the interest rate on this amount?</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">

                                                          <input type="text" onClick="this.select();" class="form-control" id="input11" name="input11" ng-model="CurrentInterestRatePerYear">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">

                                                      <div id="slider11" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>

                            <!--again new added row-->
                            <div class="row " ng-show="existinLoanOption">
                                <div class="col-xs-12 col-sm-6 form-heading">
                                  Remaining mortgage term (years)
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">

                                                <input type="text" onClick="this.select();" class="form-control" id="input12" name="input12" ng-model="RemainingLoanTermYears">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">

                                            <div id="slider12" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---new added row end here -->
                            <div class="row ">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="more-than-one-loan">Do you have more than one mortgage? If so please add details below</label>

                                    </div>
                                </div>
                                <div class="col-xs-6">
                                  <button class="option-l-btn btn" ng-click="haveYouMoreLoan(true)"  ng-disabled="moreLoanOption">Yes</button>
                                  <button class="option-r-btn btn" ng-click="haveYouMoreLoan(false)"  ng-disabled="!moreLoanOption">No</button>
                                </div>
                            </div>

                            <div class="row" ng-show="moreLoanOption">
                              <div class="col-xs-6">
                                  <div class="form-group">
                                      <label for="loan-balance">What is your current mortgage balance</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">

                                                          <input type="text" onClick="this.select();" class="form-control" id="input13" name="input13" ng-model="CurrentLoanBalanceInMoreLoan">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">

                                                      <div id="slider13" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-xs-6">
                                  <div class="form-group">
                                      <label for="interest-rate">What is the interest rate on this amount?</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">

                                                          <input type="text" onClick="this.select();" class="form-control" id="input14" name="input14" ng-model="CurrentInterestRatePerYearInMoreLoan">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">

                                                      <div id="slider14" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>

                            <div class="row" ng-show="moreLoanOption">
                              <div class="col-xs-6 marginTop14">
                                  <div class="form-group">
                                      <label for="remain-loan">Remaining mortgage term (years)</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">

                                                          <input type="text" onClick="this.select();" class="form-control" id="input15" name="input15" ng-model="RemainingLoanTermYearsInMoreLoan">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">

                                                      <div id="slider15" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                                <div class="col-xs-6" ng-show="moreLoanOption">
                                  <div class="form-group">
                                      <label for="total-credit-card-balance">What is the total amount of personal mortgage and all credit cards?</label>
                                      <div class="row ">
                                          <div class="col-xs-12 col-sm-12 form-heading">
                                              <div class="row">
                                                  <div class="col-xs-4 col-sm-4">
                                                      <div class="form-group">

                                                          <input type="text" onClick="this.select();" class="form-control" id="input16" name="input16" ng-model="CreditCardOutstandingBalance">
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-8 col-sm-8 form-group slider-common">

                                                      <div id="slider16" style="margin-top:8px;"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>

                            <div class="row " ng-class="{optionDrop: (!alterOption)}">
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    Cash
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">

                                                <input type="text" onClick="this.select();" class="form-control" id="cash2Input" name="cash2Input" ng-model="cash2">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">

                                            <div id="cash2Slider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    Australian Listed Property
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">

                                                <input type="text" onClick="this.select();" class="form-control" id="australianListedProperty2Input" name="australianListedProperty2Input" ng-model="australianListedProperty2">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">

                                            <div id="australianListedProperty2Slider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row " ng-class="{optionDrop: (!alterOption)}">
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    International Listed Property
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">

                                                <input type="text" onClick="this.select();" class="form-control" id="internationalListedProperty2Input" name="internationalListedProperty2Input" ng-model="internationalListedProperty2">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">

                                            <div id="internationalListedProperty2Slider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row " ng-class="{optionDrop: (!alterOption)}">
                                <div class="col-xs-12 col-sm-12 form-heading">
                                    <Strong>Total Percentage Selected</Strong>
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="asset2TotalInput" name="asset2TotalInput" ng-model="asset2Total" disabled>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row" print-hide>
                                <div class="col-xs-12">
                                    <button print-remove class="btn btn-block btn-primary btn-calculate">Calculate Result</button>
                                </div>
                            </div>
                            <div class="row " ng-class="{optionDrop: (!error1option)||(alterOption)}">
                                <div class="col-xs-12 col-sm-12 form-heading error-row">
                                    The total of all shares should add up to 100 so please re-enter the values
                                </div>
                            </div>
                            <div class="row " ng-class="{optionDrop: (!error2option)||(!alterOption)}">
                                <div class="col-xs-12 col-sm-12 form-heading error-row">
                                    The total of all shares should add up to 100 so please re-enter the values
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row result-head clearfix">
                    <h3 class="results-title">Your Results</h3>
                    <button class="btn btn-primary print-dup print-doc btn-newPrint" style="float:right; background-color:#0d2f47 !important;" print-remove print-hide>

                      <i class="fa fa-print" aria-hidden="true"></i>
                        Print Result
                    </button>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="container" style="padding-top:15px;padding-bottom:10px;margin-left: -10px;"></div>
                    </div>
                </div>
                <div class="row disclaimer">
                    <span class="calculator-disclaimer">Information provided by Financial Choice Pty Ltd is general financial advice only. General advice is defined under the new regulations to include information about financial products and financial markets and our current views and outlook for those products and markets. The general advice we provide includes the information you have requested from us directly or via our web site.</span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <img src="images/client-logo.png" class="comp-logo" />
                    </div>
                </div>
            </div>
        </div>



    </div>

    <script type="text/ng-template" id="validationModal.html">
        <div print-hide class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
          <h4 style="text-align:center;" class="modal-title">Your Form Inputs Are Incorrect/Incomplete</h4>
        </div>
        <div print-hide class="modal-body" id="modal-body">
          <ul class="modal-list">
              <li ng-show="$ctrl.BPCForm.firstName.$pristine ">Please provide your first name.</li>
              <li ng-show="!$ctrl.BPCForm.firstName.$pristine && $ctrl.BPCForm.firstName.$invalid">Please provide a valid first name.</li>
              <li ng-show="$ctrl.BPCForm.lastName.$pristine">Please provide your last name.</li>
              <li ng-show="(!$ctrl.BPCForm.lastName.$pristine && $ctrl.BPCForm.lastName.$invalid)">Please provide a valid last name.</li>
              <li ng-show="($ctrl.BPCForm.email.$pristine || $ctrl.BPCForm.email.$invalid)">Please provide a valid email address.</li>
              <li ng-show="($ctrl.BPCForm.mobile.$pristine || $ctrl.BPCForm.mobile.$invalid)">Please provide a valid mobile number.</li>
              <li ng-show="$ctrl.BPCForm.postalCode.$invalid">Please provide a valid 4-Digit postal code.</li>
              <li ng-show="error1option">Please re-enter the values for initial asset allocation(The total of all shares should add up to 100)</li>
              <li ng-show="error2option">Please re-enter the values for altered asset allocation(The total of all shares should add up to 100)</li>
          </ul>
        </div>
        <div print-hide class="modal-footer">
          <h5 style="text-align:center">Please provide the correct inputs to calculate new result, generate the result as PDF and print the result.</h5>
        </div>
    </script>
    <!--calculator info start-->
    <script type="text/ng-template" id="calculatorInfoPage.html">
        <div print-hide class="modal-header infoHeader">

          <div class="row info-title">
              <div class="col-xs-9 col-sm-9 col-lg-9">
                  <h2>Calculator Information</h2>
              </div>
              <div class="col-xs-3 col-sm-3 col-lg-3">
                  <button type="button" class="closeInfo" ng-click="$ctrlInfo.cancel()"></button>
              </div>
          </div>
        </div>
        <div print-hide class="modal-body infoBody" id="modal-body">
          <div class="row info-content">
              <div class="col-xs-12 col-sm-12 col-lg-12">
                  <ol>
                      <li>
                          It is assumed that the investment income, rental income as well as the other income in this calculator are after-tax figure. In real case, it is complicate to estimate the net income since one needs to consider both the tax duduction (include negative gearing)/net capital gain and the marginal tax rate.
                      </li>
                      <li>
                          It is assumed the expense is indexed at the inflation level except the credit card outstanding
                      </li>
                      <li>
                         It is assumed that the annual loan repayment is paid in the middle of the year (e.g. monthly repayment * 12 paid in the middle of the year)
                      </li>
                      <li>
                        It is assumed that all income are generated in the middle of the year
                      </li>
                      <li>
                        It is assumed that the salary is based on the survival probability, other existing income and expense don’t depend on the survival proability
                      </li>


                      </ul>
              </div>
          </div>
        </div>

    </script>


    <script src="js/plugins/jquery/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="js/plugins/angular/angular.min.js" type="text/javascript"></script>
    <script src="js/plugins/bootstrap/bootstrap-select.min.js" type="text/javascript"></script>
    <script>
    $(document).ready(function() {
        $("input").keydown(function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                return false;
            }
        });
        $(".postal-code").keydown(function(event) {
            if (event.keyCode === 38 || event.keyCode === 40) {
                event.preventDefault();
                return false;
            }
        });
        $(".mob-input").keydown(function(event) {
            if (event.keyCode === 38 || event.keyCode === 40) {
                event.preventDefault();
                return false;
            }
        });
    });
    </script>
    <script src="js/plugins/angular/angular-bootstrap/ui-bootstrap-tpls-2.5.0.min.js" type="text/javascript"></script>
    <script src="js/plugins/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controller.js" type="text/javascript"></script>
    <script src="js/plugins/nouislider.min.js" type="text/javascript"></script>
    <script src="js/plugins/wNumb.js" type="text/javascript"></script>
    <script src="js/AgeCalculatorService.js" type="text/javascript"></script>
    <script src="js/angularPrint.js" type="text/javascript"></script>
    <script src="js/plugins/highcharts/highcharts.js" type="text/javascript"></script>
    <script src="js/plugins/highcharts/data.js" type="text/javascript"></script>
    <script src="js/plugins/highcharts/exporting.js" type="text/javascript"></script>
    <script src="js/plugins/highcharts/sand-signika.js" type="text/javascript"></script>
    <script src="js/lineChartService.js" type="text/javascript"></script>
    <script src="js/TaxRateCalculatorService.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.16/jspdf.plugin.autotable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta1/html2canvas.js"></script>
    <script src="js/plugins/rgbcolor.js" type="text/javascript"></script>
    <script src="js/plugins/StackBlur.js" type="text/javascript"></script>
    <script src="js/plugins/canvg.min.js" type="text/javascript"></script>
    <script src="js/plugins/PdfMaker.js" type="text/javascript"></script>
</body>

</html>
